@import "util/mixin";
@import "conf/icon";

.btn {
  background: none;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  // button with icon
  &-i {
    @include size(px2rem($size));
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    padding: 0;

    svg {
      display: block;
    }
  }
}
