@import "conf/color";
@import "conf/animation";
@import "conf/size";
@import "conf/font";
@import "util/mixin";

.sidebar {
  @include rems(min-width, 256);
  background: $sidebar-bg;
  color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &.float {
    position: absolute;
    z-index: 10;
    box-shadow: 0 0 #{px2rem(10)} 0 $shadow;

    // close button
    > .btn {
      @include rems(margin, $topbar-padding-v, 13);
      align-self: flex-end;
    }
  }

  svg {
    path {
      @include trans(fill);
      fill: rgba($white, .3);
    }

    &:hover {
      path {
        fill: rgba($white, .8);
      }
    }
  }

  .section,
  .footer {
    @include rems(padding, $sidebar-section-padding-v, 0);
  }

  .section {
    @include rems(padding-right, 7);
  }

  .section:not(:first-child),
  .footer,
  .project-tree {
    border-top: 1px solid $sidebar-divider;
  }

  .section {
    @include rems(text-indent, $margin-right);

    &:first-child {
      @include rems(margin-top, 7);
    }
  }

  .project-header,
  .notification-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notifications {
    @include size(#{px2rem(25)});
    @include rems(border-radius, 25);
    line-height: 2.3;
    text-align: center;
    color: $white;
    background: $sidebar-notify;
    font-size: .75rem;
    text-indent: 0;
    font-weight: $w-bold;
  }

  .project-header {
    > .btn {
      @include rems(margin-right, 7);
    }
  }

  .project-tree {
    margin-bottom: 1.5rem;

    &,
    .children {
      @include rems(padding-left, $margin-right);
    }

    .title {
      @include rems(padding, 3, 7, 3, 0);
      cursor: pointer;
    }

    .title-inner {
      @include rems(padding, 6, 10, 6, 10);
      @include trans(background, color);
      color: rgba($white, .6);
    }

    .marker {
      @include trans(transform);
      @include rems(margin-right, 10);
      display: inline-block;
      color: $sidebar-divider;
    }

    .children {
      display: none;
    }

    .item {
      &.open {
        > .children {
          display: block;
        }
        > .title > .title-inner > .marker {
          transform: rotate(90deg);
        }
      }

      &.selected > .title > .title-inner {
        @include rems(border-radius, 2);
        background-color: rgba($white, .1);
        color: $white;
      }
    }

    // first level
    > .item > .title {
      border-bottom: 1px solid $sidebar-divider;
    }
  }

  .footer {
    margin-top: auto;

    // lock button
    > button {
      margin: 0 auto;
      display: block;
    }
  }
}