@import "../../node_modules/normalize-scss/sass/normalize/import-now";
//
@import "conf/size";
@import "conf/font";
//
@import "button";
//
@import "layout";
@import "topbar";
@import "sidebar";
@import "backdrop";
//
@import "task-list";
@import "task-group";
@import "task";

html, body {
  font-family: sans-serif;
  font-size: #{$font}px;
  line-height: $line;
  font-weight: $w-normal;
}